.accordion {
    width: 100%;
    float: left;
    position: relative;
}
.accordion .action-button {
    position: absolute;
    right: 9px;
    top: 38px;
    width: auto;
    padding: 5px;
    font-size: 12px;
    line-height: 10px;
    min-width: 100px;
    text-align: center;
    z-index: 15;
}
.accordion .action-button:hover {
    opacity: 1;
}
.accordion button {
    width: 100%;
    border-radius: 0;
    text-align: left;
    margin-top: 10px;
    background-color: #E2F0D9;
    text-transform: uppercase;
    font-size: 18px;
    color: #789921;
    opacity: 0.6;
}
.accordion button img {
    margin-right: 10px;
}
.accordion button:hover, .accordion button:active {
    background-color: #E2F0D9;
    color: #789921;
}
.accordion .panel {
    margin-left: 41px;
    border-radius: 0;
    border: none;
    margin-top: -39px;
    padding-top: 35px;
    margin-bottom: 0;
}
.form-group label {
    color: #789921;
    font-size: 12px;
}