.navbar {
  border-radius: unset;
  background: #3B3B3B;
  padding-bottom: 52px;
  margin-bottom: 0;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-text {
    color: #fff;
    margin-top: 2px;
    margin-bottom: 0;
    float: none;
    font-size: 11px;
    opacity: 0.6;
}
.navbar-inverse .navbar-text.big-text {
    font-size: 17px;
    margin-top: 4px;
    opacity: 1;
}
.navbar-header {
  width: 50%;
}
.navbar-inverse span.header-text {
  display: block;
  float: left;
}

@media only screen and (max-width: 992px) {
  .navbar-inverse span.header-text {
    width: 65%;
  }
  .navbar-header {
    width: auto;
  }
  .navbar {
    padding-bottom: 8px;
  }
  .nav>li {
    display: inline-block;
  }
}